/*.block {*/
/*     width: 100%;*/
/*}*/
/*.block img {*/
/*     width: 100%;*/
/*     display: block;*/
/*}*/
body {
     margin: 0;
     background: #E5E5E5;
     justify-content: center;
     align-items: center;
     display: flex;
}
.container_main {
     position: relative;
     display: flex;
     width: 902px;
     height: 612px;
}

.column-left{
     width: 270px;
     height: 612px;
     /*width:30%;*/
     /*height: 100%;*/
     background: url("adult-backpack-city-845457.png");
     background-size: cover;
     display: block;
}

.column-right{
     width: 632px;
     height: 612px;
     /*width: 70%;*/
     /*height: 100%;*/
     background: white;
     display: flex;
     flex-direction: column;

}
.column-right-top {
     width: 100%;
     height: 18%;
     display: flex;
     background: white;
     flex-direction: column;
}
.column-right-bottom {
     width: 100%;
     height: 88%;
     display: flex;
     flex-direction: column;
     background: #F9F9F9;
}

.top-content {
     margin-top: 32px;
     color: #000000;
}
.top-content2 {
     margin-top: 0;
     color: #666666;
}

.font-size2 {
     display: flex;
     margin-left: 82px;
     font-family: Arial, sans-serif;
     font-size: 18px;
     line-height: 21px;
}


/*.p{*/
/*     padding: 0;*/
/*     margin-top: 0;*/
/*     margin-bottom: 0;*/
/*}*/
.ul-position {
     padding: 0 15px;
     margin: 8px 0 0 82px;
     font-family: Arial, sans-serif;
     font-size: 13px;
     line-height: 15px;
     color: #000000;
}
.font-size {
     font-family: Arial, sans-serif;
     font-size: 18px;
     line-height: 21px;
     color: #000000;
     margin-left: 82px;
     margin-top: 36px;
     margin-bottom: 0;
}

.logo {
     position: absolute;
     bottom: 0;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 113px;
     height: 44px;

     background: #FFFFFF;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-content {
     font-family: Audi Type, sans-serif;
     font-size: 24px;
     line-height: 29px;
     /* identical to box height */
}
