/*.block {*/
/*     width: 100%;*/
/*}*/
/*.block img {*/
/*     width: 100%;*/
/*     display: block;*/
/*}*/
html {
     height: 100%;
}
body {
     margin: 0;
     background: #E5E5E5;
     /*justify-content: center;*/
     /*align-items: center;*/
     /*display: flex;*/
}
.container_main {
     position: relative;
     display: flex;
     /*width: 902px;*/
     /*height: 612px;*/
}

.column-left{
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: auto;
     min-width: 270px;
max-width: 270px;

     width: 270px;
     height: 612px;
     /*width:30%;*/
     /*height: 100%;*/
     background: url("adult-backpack-city-845457.png");
     background-size: cover;
     display: block;
}
.gradient{
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: auto;

     position: absolute;
     width: 270px;
     height: 125px;
     left: 0px;
     top: 487px;


     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.name {
     position: absolute;
     width: 218px;
     height: 36px;
     left: 16px;
     top: 502px;
     margin: 0;
     font-family: Bw Modelica, sans-serif;
     font-size: 30px;
     line-height: 36px;
     color: #FFFFFF;
     z-index: 1;
}
.left-age {
     margin: 0;
     position: absolute;
     width: 185px;
     height: 17px;
     left: 16px;
     top: 554px;

     font-family: Bw Modelica, sans-serif;
     font-size: 14px;
     line-height: 17px;
     color: #FFFFFF;
     z-index: 1;
}
.left-position {
     position: absolute;
     width: 178px;
     height: 17px;
     left: 16px;
     top: 579px;
}
.column-right{
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: auto;
min-width: 630px;
     width: 632px;
     height: 612px;
     /*width: 70%;*/
     /*height: 100%;*/
     background: white;
     display: flex;
     flex-direction: column;

}
.column-right-top {
     width: 100%;
     height: 113px;
     display: flex;
     background: white;
     flex-direction: column;
     /*flex: 1 0 auto;*/
}
.column-right-bottom {
     width: 100%;
     min-height: 499px;
     display: flex;
     flex-direction: column;
     background: #F9F9F9;
     /*flex: 1 0 100%;*/
}

.top-content {
     margin-top: 32px;
     color: #000000;
}
.top-content2 {
     margin-top: 0;
     color: #666666;
}

.font-size2 {
     display: flex;
     margin-left: 82px;
     font-family: Arial, sans-serif;
     font-size: 18px;
     line-height: 21px;
}


/*.p{*/
/*     padding: 0;*/
/*     margin-top: 0;*/
/*     margin-bottom: 0;*/
/*}*/
.ul-position {
     padding: 0 15px;
     margin: 8px 0 0 82px;
     font-family: Arial, sans-serif;
     font-size: 13px;
     line-height: 15px;
     color: #000000;
}
ul{
     /*padding: 0 0 0 0;*/
     /*margin: 0 0 0 0;*/
     list-style: disc;
margin-left: 0;
     padding-inline-start: 0px;
     margin-block-end: 1em;
}
.font-size {
     font-family: Arial, sans-serif;
     font-size: 18px;
     line-height: 21px;
     color: #000000;
     margin-left: 82px;
     margin-top: 36px;
     margin-bottom: 0;
}

.logo {
     position: absolute;
     bottom: 0;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 113px;
     height: 44px;

     background: #FFFFFF;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-content {
     font-family: Audi Type, sans-serif;
     font-size: 24px;
     line-height: 29px;
     /* identical to box height */
}
